/*css de navbar */

.nav-item{
    padding: 15px;  
}
.navbar-collapse .navbar-nav li a{
    color: white;
    margin: 0px;
    font-family: 'Architects Daughter', cursive;

}
#navbarNav{
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    position: fixed;
}
/**/
.navbar-expand-lg {
	background-color: transparent;
	border: medium none;
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.navbar-expand-lg .navbar-nav li a {
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav > .active > a, .navbar-collapse .navbar-nav > .active > a:focus, .navbar-collapse .navbar-nav > .active > a:hover, .navbar-collapse .navbar-nav li a:hover, .navbar-collapse .navbar-nav li a:focus {
	color: gray	;
	background: transparent
}
.navbar-expand-lg a.navbar-brand {
	color: #fff;
	font-size: 30px;
	font-weight: 800;
	padding-top: 16px;
	text-transform: uppercase
}
.navbar-expand-lg a.navbar-brand span {
	color: #gray	;
}
.navbar-expand-lg a.navbar-brand:hover {
	color: gray	;
}

.navbar-expand-lg a.navbar-brand:hover span {
    color: #fff;
}

.affix {
	animation: 1s ease 0s normal both 1 running slideInDown;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 7px;
	position: fixed;
    z-index: 1000;
    width:100%;
}
.color-bg-nav {
	background: #1f2d3c;
	margin-top: 0;
	padding: 5px 0
}





/*Bootstrap Navbar overtop Carrousel*/
.carousel {position: relative;}

.carousel-inner {position: relative; width: 100%; overflow: hidden;}

.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}
.formulaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px black;
}
#inputs{
    display: flex;
    justify-content: space-between;
    font-family: 'Architects Daughter', cursive;
}

.col-md-4{
    display: inline-block;
    margin-left:-10px;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }
    
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   position: relative;
   bottom: 40px;
   right: 40px;
  }
  
  span.carousel-control-next-icon {
   position: relative;
   bottom: 40px;
  }
  

#back1{
    box-shadow: 1px 2px 3px;
    height: 200px;
  
}
#back1 h1{
    color: white;
  
}
#title1{
font-weight: bold;
font-size: 50px;
text-align: center;
}
.formulaire{
    box-shadow: 1px 2px 3px;

    width: 630px;
    height: 200px
    
}
/*SErvices*/
#sec1{
    padding-top: 4rem;
    padding-bottom: 5rem;
     
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}
/*degradation des couleurs lorsque je hover */
.wrap:hover {
    background: linear-gradient(135deg,white 0%,gray 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.mb-4{
background-color: #bdc3c7;}
#contact-form{
margin-left: 200px;
}

.mbr-section-title3 {
    text-align: left;
    color: gray;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Architects Daughter', cursive;
    font-size: 1re}
    /*formulaire contact*/
    #bt1{
        float:right;
        background-color: gray;
        border: solid;
        width: 100px;
    }
    /*font-family de tous les h2*/
    .h2{
        font-family: 'Architects Daughter', cursive;
    }
    .float-left{
        font-family: 'Architects Daughter', cursive;

    }
    .float-right{
        font-family: 'Architects Daughter', cursive;

    }
    .dropdown-toggle{
        font-family: 'Architects Daughter', cursive;

    }
    #dropback{
        background-color: black;
    }
    input{
        font-family: 'Architects Daughter', cursive;

    }
    
    textarea{
        font-family: 'Architects Daughter', cursive;

    }
    #bt1{
        font-family: 'Architects Daughter', cursive;

    }
    p{
        font-family: 'Architects Daughter', cursive;

    }
    /*icones*/
    #i1{
        width: 30px;
    }
    .list-unstyled{
        display: flex;
        justify-content: space-between;
    }
  #modal{
      margin-top: -200px;
      position: relative;
      margin-left: 300px;
     

  }
  #modal2{
    margin-top: -200px;
    position: relative;
    margin-left: 250px;
  }